
.task-list {
	width: 100%;
}

.tasks_advanced-colourcode {
	font-weight: bold;
	text-align: center;
	width: 2em;
}
.tasks_advanced-colourcode span {
	border: 1px solid gray;
	display: block;
	width: 1.5em;
}

.tasks_advanced-assigned {
	display: none;
	width: 6em;
}

.tasks_advanced-title {
}

.tasks_advanced-completed {
	width: 6em;
}

.tasks_advanced-details {
	width: 4em;
}

.tasks_advanced-edit {
	width: 2em;
}

.tasks_advanced-order {
	width: 5em;
}